pandas==2.2.2
load_dotenv==0.1.0
gspread==6.1.2
oauth2==1.9.0.post1
slack_sdk==3.31.0
sqlalchemy==2.0.32
mysql.connector== 2.2.9
mysql==0.0.3
psycopg2==2.9.9
pymongo==4.8.0
ipaddress==1.0.23
geoip2==4.8.0
folium==0.17.0
xlsxwriter==3.2.0
openpyxl==3.1.5